.error {
  color: red;
}

.invalid {
  font-weight: bold;
  color: #cc0000;
}

.invalid input {
  border: 1px solid #cc0000;
}

/*
input:invalid {
    border: 2px dashed red;
  }
  
input:valid {
    border: 2px solid black;
} */